<button (click)="initNewTransaccion()">Crear nueva transaccion</button>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numero de transaccion</th>
      <th scope="col">Fecha de compra</th>
      <th scope="col">Precio de compra</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tran of transaccion">
      <td>{{ tran.transaccionID }}</td>
      <td>{{ tran.fechaVenta| date:'dd/MM/yyyy' }}</td>
      <td>{{ tran.precioVenta }}</td>
      <td><button (click)="editTransaccion(tran)">Editar</button></td>
    </tr>
  </tbody>
</table>

 <app-edith-transaccion [tran]="transaccionToEdit"(transaccionUpdated)="upDateTransaccionList">.</app-edith-transaccion>
